@import "tailwindcss";

body {
  font-family: Arial, Helvetica, sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-text: var(--text);
  --color-sbackground: var(--sbackground);
  --color-snbackground: var(--snbackground);
  --color-dmbackground: var(--dmbackground);
  --color-border: var(--border);
}

:root {
  --background: #f5f5f5;
  --text: #000000;
  --sbackground: #ffffff;
  --snbackground: #f5f5f5;
  --navtext: #1b56fd;
  --dmbackground: #c7c7c772;
  --border: #e5e7eb;
}

.dark {
  --background: #2c2c2c;
  --text: #ffffff;
  --sbackground: #121212;
  --snbackground: #2c2c2c;
  --dmbackground: #2c2c2c;
  --navtext: #1b56fd;
  --border: #1e2939;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
/* Hide scrollbar for IE, Edge and Firefox */
.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.MyGradient {
  mask-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 1) 10%,
    rgba(0, 0, 0, 1) 90%,
    rgba(0, 0, 0, 0)
  );
  -webkit-mask-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 1) 10%,
    rgba(0, 0, 0, 1) 90%,
    rgba(0, 0, 0, 0)
  );
}
